.MainContainer, .DietsContainer, .Diet, .DietActive, .LeftButton, .RightButton{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.MainContainer{
  width: 100%;
}

.DietsContainer{
  width: 520px;
  height: 115px;
  justify-content: flex-start;
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;

  padding: 5px;
}

.DietsContainer::-webkit-scrollbar{
  display: none;
}

.Diet, .DietActive{
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  max-width: 120px;
  min-width: 120px;
  height: 105px;
  box-shadow: 0px 0px 5px 0px rgba(66,66,66,0.40);
  transition: .9s ease-in-out;
  color: var(--main-color);
  background-color: var(--clear-color);
}


.Diet:hover {
  cursor: pointer;
  transition: .9s ease-in-out;
  border: solid var(--main-color);
  border-width: 8px 1px 1px 1px;
}

.DietActive{
  border: solid var(--main-color);
  border-width: 10px 1px 1px 1px;
}

.DietActive:hover {
  cursor: pointer;
  border: solid var(--accent-color);
  border-width: 10px 1px 1px 1px;
  transition: .9s ease-in-out;
}

.TitleDiet {
  font-family: "Montserrat";
  font-size: 1.17rem;
  font-weight: 700;
  
}

.LeftButton, .RightButton{
  background-color: var(--main-color);
  border-radius: 50%;
  border-style: none;
  padding: 10px;
  width: 34px;
  height: 34px;

  transition: .9s ease-in-out;
}

.LeftButton:hover, .RightButton:hover{
  transform: scale(1.07);
  cursor: pointer;
  transition: .7s ease-in-out;
}

.LeftButton img, .RightButton img{
  width: 15px;
}

.iconGluten,
.iconDairy,
.iconKetogenic,
.iconVegetarian,
.iconVegan,
.iconLactoVegatarian,
.iconPescetarian,
.iconPaleo,
.iconPrimal,
.iconLowFodMap,
.iconWhole30 {
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
}

.iconGluten{
  background-image: url("../../../assets/diets/gluten-free.svg");
}

.iconKetogenic{
  background-image: url("../../../assets/diets/ketogenic.svg");
} 

.iconVegetarian{
  background-image: url("../../../assets/diets/vegetarian.svg");
} 

.iconVegan{
  background-image: url("../../../assets/diets/vegan.svg");
} 

.iconLactoVegatarian{
  background-image: url("../../../assets/diets/lacto-vegetarian.svg");
} 

.iconDairy{
  background-image: url("../../../assets/diets/dairy-free.svg");
}

.iconPescetarian{
  background-image: url("../../../assets/diets/pescetarian.svg");
} 

.iconPaleo{
  background-image: url("../../../assets/diets/paleo.svg");
} 

.iconPrimal{
  background-image: url("../../../assets/diets/primal.svg");
} 

.iconLowFodMap{
  background-image: url("../../../assets/diets/low-fodmap.svg");
} 

.iconWhole30{
  background-image: url("../../../assets/diets/whole30.svg");
} 


 /* Media queries for mid-size devices (Tablet) */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .DietsContainer{
    width: 390px;
  }
} 

/* Media queries for small-size devices (Mobile) */
@media screen and (max-device-width: 600px) {
  .DietsContainer{
    width: 260px;
  }
}