.ContainerTitle{
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 70vh;
  color: #2c2c2c;
}

.Topside{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Dish{
  background-image: url("../../../assets/not-found/dishes-tiny.png");
  width: 300px;
  height: 300px;
  z-index: 4;
  animation: rotate 7s steps(3) infinite,
              forward 50s linear infinite;
}

@keyframes rotate {
  0%{
    background-position: 0px;
 
  }
  100%{
    background-position: 900px; 
  }
}

@keyframes rotate-mobile {
  0%{
    background-position: 0px;
 
  }
  100%{
    background-position: 380px; 
  }
}


@keyframes forward{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.Title{
  font-size: 25rem;
}

.SubTitle{
  font-size: 3.2rem;
}

.Button{
  font-size: 1.8rem;
  background-color: var(--main-color);
  color: var(--clear-color);
  border-radius: 8px;
  padding: 10px 20px;
  border-style: none;
  transition: .9s ease-in-out;
}

.Button:hover{
  background-color: #2c2c2c;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.FoodA{
  position: absolute;
  width: 14%;
  left: 0;
  bottom: 0;
}

.FoodB{
  position: absolute;
  width: 14%;
  right: 0;
  bottom: 40%;
}



/* Media queries for mid-size devices (Tablet) */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .SubTitle{
    font-size: 2.2rem;
  }
  .Button{
    font-size: 2.4rem;
    padding: 12px 24px;
  }
  .FoodA{
    width: 25%;
  }
  .FoodB{
    width: 24%;
    top: 5%;
  }
}

/* Media queries for small-size devices (Mobile) */
@media screen and (max-device-width: 600px) {
  .SubTitle{
    font-size: 2rem;
    width: 90%;
  }
  .Button{
    font-size: 1.6rem;
    padding: 12px 24px;
  }
  .Dish{
    background-image: url("../../../assets/not-found/dishes-tiny-mobile.png");
    width: 127px;
    height: 127px;
    z-index: 4;
    animation: rotate-mobile 7s steps(3) infinite,
                forward 50s linear infinite;
  }
  .FoodA{
    width: 35%;
  }
  .FoodB{
    width: 34%;
    top: 5%;
  }
  .Title{
    font-size: 13rem;
  }
  .ContainerTitle{
    height: 65vh;
  }
  .Topside{
    gap: 10px;
  }
}